<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Block HTTP headers for security -->
    <httpProtocol>
      <customHeaders>
        <!-- Removes the indication that response is powered by .NET -->
        <remove name="X-Powered-By"></remove>
        <!-- Blocks web page from being included in <frame>, <iframe>, <embed> or <object> -->
        <add name="X-Frame-Options" value="DENY"></add>
        <!-- Set responses to no cache to let a browser not cache any items -->
        <add name="Pragma" value="no-cache"></add>
        <add name="cache-control" value="no-cache, no-store, must-revalidate"></add>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>