#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker-unknown, .marker-high, .marker-low {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.marker-unknown {
    background-color: gray;
}

.marker-low {
    background-color: red;
}

.marker-high {
    background-color: green;
}

.leaflet-popup-content {
    padding: 0 !important;
}

.leaflet-popup-content div {
    padding: 15px;
}

.leaflet-popup-content div p {
    margin-bottom: 0;
}

.leaflet-popup-content div.host {
    padding: 10px 15px;
    font-size: 12px;
}

.leaflet-popup-content div.main p {
    font-size: 12px;
}

.leaflet-popup-content div.main p.name {
    font-size: 15px;
    font-weight: bold;
}

.leaflet-popup-content div.numbers p {
    font-size: 12px;
}

.leaflet-popup-content div.numbers p.price, .leaflet-popup-content div.numbers p.rating, .leaflet-popup-content div.numbers p.high-low-availability {
    font-size: 15px;
    font-weight: bold;
}

.leaflet-popup-content div.numbers p.rating, .leaflet-popup-content div.numbers p.high-low-availability {
    margin-top: 10px;
}

.map-sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
}

.admin-link-map {
    z-index: 1;
    position: fixed;
    right: 40px;
    top: 0px;
    padding: 5px 5px 7px 5px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 15px;
    line-height: 15px;
    background-color: #f5f5f5;
}

    .admin-link-map:hover {
        text-decoration: none;
    }